# dependencies
node_modules/

# Next.js
.next/
out/

# production
dist/

# local env files
.env.local
.env*.local

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
tsconfig.tsbuildinfo

# hosting
.vercel/

# system files
.DS_Store
Thumbs.db
